modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5173
externalPort = 80

[deployment]
run = ["npm", "run", "dev"]

[workflows]

[[workflows.workflow]]
name = "Run"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run dev"
